
.small-margin{
    margin-bottom: 1rem;
}

.box{
    
    &__first{
        margin: 5rem 5rem;
        // height: 100rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        // width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
        grid-gap:3rem;
        border-radius: 1rem;
        align-items: stretch;
        justify-content: center;
        // grid-template-areas: "profileBox timeBox timeBox timeBox"
        //                      "profileBox timeBox timeBox timeBox"
        //                      ". timeBox timeBox timeBox";
                            //  "profileBox timeBox timeBox timeBox";
        

        
        // transform: translate(-50%,-50%);
        // overflow: hidden;

        // &--1{
        //     position: absolute;
        //     top:30%;
        //     left:60%;
        // }

        // &--2{
        //     position: absolute;
        //     top:75%;
        //     left:60%;
        // }

        .profile-box{
            display: block;
            grid-row:1/3;
            grid-column:1/2;
            // grid-area:profileBox;
            

        

            &__upper{
                background-color: $color-light-blue;
                padding: .5rem 3rem;
                border-radius: 1rem;
                height: 68%;
                position: relative;
                z-index: 10;
                

                .profile-img{
                    height: 8rem;
                    width: auto;
                    display: block;
                    margin:3rem 0;

                }

                .report{
                    display: block;
                    color:$color-white-blue;
                    margin-bottom: .3rem;
                }

                .profile-name{
                    margin-bottom: 4.5rem;
                    font-size: 4rem;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            &__bottom{
                background-color: $color-dark-blue;
                height: 35%;
                border-radius: 1rem;
                transform: translateY(-3rem);
                // position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                // z-index: -1;
                
                .space{
                    display: block;
                    padding-bottom: 5rem;
                }
                .schedule{
                    display: inline-block;
                    color:$color-white-blue;
                    // background-color: orangered;
                    padding: 1rem 3rem;
                    font-size: 1.6rem;
                    position: relative;
                    z-index: 15;
                    cursor: pointer;
                }

                .schedule-active{
                    color:white;
                }
            }
        }

        &--work{
            // min-width: 30rem;
            // min-height: 25rem;
            cursor: pointer;
            // grid-area: timeBox;


            .top-img{
                // background-color: rgba(0, 0, 0, 0.274)
                min-height: 6rem;
                border-radius: 1rem;
                box-shadow: 0 2rem 6rem rgba(0,0,0,.2);
                position: relative;

                &--1{background-color: rgb(226, 103, 45);};
                &--2{background-color: #3F9CBB;};
                &--3{background-color: #F04667;};
                &--4{background-color: #29BA66;};
                &--5{background-color: #5A1CBB;};
                &--6{background-color: #E6A532;};

                .icon-img{
                    // margin-left: 60%;
                    position: absolute; 
                    top:0;
                    right: 10%;
                    height: 6rem;
                    width: auto;  
                }
            }

            .time-card{
                padding:2rem 2rem;
                min-height: 19rem;
                border-radius: 1rem;
                background-color: $color-dark-blue;
                transform: translateY(-1.5rem);
                box-shadow: 0 2rem 6rem rgba(0,0,0,.2);

                .category{
                    font-size: 1.6rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    align-content: center;
                    margin-bottom: 2rem;

                    
                }

                .time_count{
                    

                    &__hours{
                        font-size: 5rem;
                        font-weight: 300;
                        margin-bottom:2rem;
                    }

                    &__lastWeek{
                        color:$color-white-blue;
                        margin:1rem 0;
                    }
                }
            }
        }
    }
}